@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'PMarker';
  src: url('../src/assets/Fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-marker: 'PMarker';
}